.dashboard-profile
  %section.clearfix
    = image_tag  "", class: "profile-thumbnail"
    = link_to full_name(@user), edit_profile_path
    - if @user.errors.any?
      .errors
      - @user.errors.full_messages.each do |message|
        %li #{message}
    = form_for @rant, html: { class: "new-rant-form" } do |f|
      .rants-form-column#category
      = f.label :category, "A Rant About"
      = f.text_field :category
      .rants-form-column#rant
      = f.label :rant
      = f.text_field :rant
      #login
      = f.submit "RANT", class: "create-rant-button"

.dashboard-rants
  %section.clearfix
    %h3 "My Rants"
