.dashboard-profile
  %section.clearfix
    .profile
      -#= image_tag  , class: "profile-thumbnail"
      = link_to full_name(@user), edit_profile_path, id: "profile"
    - if @rant.errors.any?
      .errors
        - @rant.errors.full_messages.each do |message|
          %li #{message}
    = form_for @rant, html: { class: "new-rant-form" } do |f|
      .category
        = f.label :category, "A rant about:"
        = f.text_field :category
      .rant
        = f.label :rant, "Rant:"
        = f.text_area :rant
      #login
        = f.submit "RANT", class: "create-rant-button"

.dashboard-rants
  %section.clearfix
    .latest_rants
      %h1 "Latest Rants"
    .my_rants
      %h1 "My Rants"
      - if @users_rants != nil
        - @users_rants.each do |rant|
          %ul #{rant.user_firstname} #{rant.rant}
          = link_to "Delete", rant_path(rant.id), id: "delete", method: :delete