.admin-content
  %section.clearfix
    %h1 Rants
    .rants-navbar
      = link_to "All", admin_rant_path, id: "all-rant-button"
      = link_to "Spam", admin_rant_path(kind: "spam"), id: "spam-rant-button", method: :get
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th Title
          %th Actions
      %tbody
        - if @all_rants != nil
          - @all_rants.each do |rant|
            %tr
              %td #{full_name(rant.user)}
              %td #{rant.user.email}
              %td #{rant.category}
              %td
                = link_to "View"
