.single_user
  %section.clearfix
    %h1 #{full_name(@user)}
    = follow_link(@user.id)
    %hr
    .single_user_body
      = image_tag @user.avatar.url(:medium)
      %p#rant_frequency #{@user.rant_frequency.delete("?")} Ranter
      %p#bio #{@user.bio}
    .single_user_rants
      - if @ordered_rants != nil
        - @ordered_rants.each do |rant|
          %p#title #{rant.category.titleize}
          %p #{rant.rant}
          = favorite_rant_link(current_user.id, rant.id)
          %p#favorite_count Number of favorites - #{rant.favorited}
