.single_rant
  %section.clearfix
    %h1 #{hashtagable(markdown(@rant.category.titleize))}
    = favorite_rant_link(current_user.id, @rant.id)
    %p#favorite_count Number of favorites - #{@rant.favorited}
    %hr
    .single_rant_body
      = image_tag @rant.user.avatar.url(:medium)
      = link_to "by #{@rant.user.first_name}", user_path(@rant.user), id: "name"
      = link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", "data-via"=>"#{@rant.category}"
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')
      = button_to "SPAM", user_rant_path, method: :patch, value: true, id: "spam"
      %p #{markdown(hashtagable(@rant.rant))}
      %hr
      - if rant_comments(@rant) != nil
        = render rant_comments(@rant)
      .comment_form
        = form_for @comment, url: "/users/#{current_user.id}/rants/#{@rant.id}/rant_comments" do |f|
          = f.text_field :comment
          = f.submit "RANT BACK", class: "rant-back-button"

