.dashboard-rants
  %section.clearfix
    .latest_rants
      %h1 Latest Rants
      %hr
      - if @all_rants != nil
        - @all_rants.each do |rant|
          .rants
            #profile
              = link_to rant.user_first_name, user_path(rant.user.id)
              = image_tag rant.user.avatar.url(:thumb)
              = follow_link(rant.user.id)
            = link_to truncate(rant.rant), user_rant_path(rant.user.id, rant.id), id: "rant"
            = favorite_rant_link(current_user.id, rant.id)
            %hr#rants
    .my_rants
      %h1 My Rants
      - if current_user.rants != nil
        - current_user.rants.each do |rant|
          .rants
            #profile_one
              %p #{rant.user.first_name}
              = image_tag current_user.avatar.url(:thumb), class: "profile-thumbnail"
            %ul #{rant.rant}
            = link_to "Delete", user_rant_path(current_user.id, rant.id), id: "delete", method: :delete