!!!
%html
  %head
    %title Rantly
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script
      "https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js" type="text/javascript"
    = csrf_meta_tags

  %body
    %header
      .navbar-admin
        %section.clearfix
          = link_to "Rant.ly", admin_dashboard_path, class: "header-word-logo"
          %ul.nav-admin
            %li
              = link_to "Dashboard", admin_dashboard_path, class: "admin-nav-list"
            %li
              = link_to "Rants", admin_rants_path, class: "admin-nav-list"
            %li
              = link_to "Users", admin_users_path, class: "admin-nav-list"
            %li
              = link_to "LOGOUT", session_path, class: "logout-button", method: :delete
    = yield
    = yield :charts_js