!!!
%html
  %head
    %title Rantly
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      .navbar-logged-in
        %section.clearfix
          = link_to "Rant.ly", dashboards_path, class: "header-word-logo"
          %ul.top-nav
            %li
              = link_to "Dashboard", dashboards_path, class: "nav-list"
            %li
              = link_to "Following", user_follows_path(current_user), class: "nav-list"
            %li
              = link_to "Favorites", user_favorites_path(current_user), class: "nav-list"
            %li
              = link_to "Search", new_search_path, class: "nav-list"
            - if session[:admin_id] != nil
              %li
                = link_to "Back to Admin", impersonate_path, method: :delete
            %li
              = link_to "LOGOUT", session_path, class: "logout-button", method: :delete
    .dashboard-profile
      %section.clearfix
        .profile
          - if flash[:notice]
            .notice #{flash[:notice]}
          = image_tag current_user.avatar.url(:thumb), class: "profile-thumbnail"
          = link_to full_name(current_user), edit_user_path(current_user.id), id: "profile"
        - if @new_rant.errors.any?
          .errors
            - @new_rant.errors.full_messages.each do |message|
              %li #{message}
        = form_for [current_user, @new_rant], html: { class: "new-rant-form" } do |f|
          .category
            = f.label :category, "A rant about:"
            = f.text_field :category
          .rant
            = f.label :rant, "Rant:"
            = f.text_area :rant, placeholder: "Rant about something or at someone..."
          #login
            = f.submit "RANT", class: "create-rant-button"
    = yield